// color
$background_color: #FFFFFF;
$gannha_color: #FA1492;
$solid_blue: #2932A5;
$blue: #1778f2;
$green: #04C900;
$gray: #04C900;
$font_family: 'Roboto', sans-serif;



// screen size
$desktop_breakpoint: 1199px;
$mobile_breakpoint: 767px;

$extra_large_sreen: 1200px;
$large_sreen: 992px;
$medium_sreen: 768px;
$small_sreen: 576px;
$extra_small_sreen: 400px;

// text size

$text_size: 16px;
$title_size: 40px;
