@import "normalize.css";
@import "~bootstrap/scss/bootstrap";
:root {
    --primary: #fa1492;

    --font-family: "Roboto", sans-serif;
}

body {
    font-family: var(--font-family);
}

.container {
}



ul{
    list-style: none;
    padding-left: 0px;
}
.main{
    min-height: 70vh;
}